<template>
    <div>
        <h3 class="text-center">Add Job</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="addJob">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" v-model="job.title">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" class="form-control" v-model="job.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="job.email">
                    </div>
                    <button type="submit" class="btn btn-primary">Post a Job</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                job: {}
            }
        },
        methods: {
            addJob() {

                this.axios
                    .post('http://localhost/api/jobs', this.job)
                    .then(response => (
                        this.$router.push({name: 'home'})
                        // console.log(response.data)
                    ))
                    .catch(error => this.$router.push({name: 'home'}))
                    .finally(() => this.loading = false)
            }
        }
    }
</script>
