<template>
    <div>
        <h3 class="text-center">All Jobs</h3><br/>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Email</th>
                <th>Posted At</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="job in jobs" :key="job.id">
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.email }}</td>
                <td>{{ job.created_at }}</td>

            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                jobs: []
            }
        },
        created() {
            this.axios
                .get('http://localhost/api/jobs')
                .then(response => {
                    this.jobs = response.data;
                });
        }
    }
</script>v
